:root {
  --color-main: #ffbf00;
  --color-hover: #ffd34f;
  --color-card-background: #f9f9fb;
  --color-card-border: #cdcdcd;

  --border-radius: 5px;
}

body {
  margin: 0;
  font-family: Ubuntu,Roboto,Helvetica,sans-serif;
  font-size: 1rem;

  display: block;
}

.header {
  background-color: var(--color-main);
  font-size: 1.2rem;

  display: flex;
  gap: 1rem;
  padding: 0.5rem;;
}

.header > span {
  border-radius: var(--border-radius);
  padding: 0.5rem;

  &:hover {
    background-color: var(--color-hover);
    cursor: pointer;
  }
}

.main {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.card {
  padding: 0.5rem;
  border: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
  border-color: var(--color-card-border);
  background-color: var(--color-card-background);
}
