:root {
  --color-main: #ffbf00;
  --color-table-row: #fff8e2;
  --color-hover: #ffd34f;
  --color-card-background: #f9f9fb;
  --color-card-border: #cdcdcd;
  --color-card-error-background: #fbe7e7;
  --color-card-error-border: #d27676;
  --color-text-error: #af2323;

  --border-radius: 5px;
  --font-family: Ubuntu,Roboto,Helvetica,sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: 1rem;

  display: block;
}

.header {
  background-color: var(--color-main);
  font-size: 1.2rem;

  display: flex;
  gap: 1rem;
  padding: 0.5rem;;
}

.header > span {
  border-radius: var(--border-radius);
  padding: 0.5rem;

  &:hover {
    background-color: var(--color-hover);
    cursor: pointer;
  }
}

.main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.card {
  padding: 0.5rem;
  border: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
  border-color: var(--color-card-border);
  background-color: var(--color-card-background);
}

.card-error {
  color: var(--color-text-error);
  border-color: var(--color-card-error-border);
  background-color: var(--color-card-error-background);
}

.modal-container {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 80%;
  height: 80%;
}

input, select, button {
  font-family: var(--font-family);
  font-size: 1rem;
}

table {
  width: 100%;
}

.row:nth-child(even) {
    background-color: var(--color-table-row);
}

.row {
  &:hover {
    background-color: var(--color-hover);
    cursor: pointer;
  }
}

td {
  height: 1.4rem;
  padding: 0.4rem;
}

.cell-date {
  white-space: nowrap;
}

